<!DOCTYPE html>
<html lang="pt"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
    <div class="titlehome-box">
        <h1>Seja bem vindo!</h1>
        <h2><%= userName %></h2>   
    </div>
    <div class="home-box">
        <p>Aqui voce pode vizualizar seus dados, agendar consultas e muito mais!</p>
        <div class="button-home">
            <a href=""><button>Minha Conta</button></a>
            <a href=""><button>Historico Clinico</button></a>
            <a href=""><button>Consulta</button></a>
            <a href=""><button>Notificacoes</button></a>
        </div>
    </div>
</body>
</html>